* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: rgba(250, 250, 250);
}

/*--- dark mode---*/

body.dark{
    --body-color: #202425;
    --box-color: #fff;

    --nav-color: #262425;
    --color-white: #fff;
    --text-color: #fff;

    --nav-icon: #fff;
    --logo-color: #fff;
    --icon-coloe: #444444;
    --mode-color: #fff;
}

.container {
    width: 100%;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

/*---nav-bar---*/

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    line-height: 100px;
    background-color: #c7bbbb;
    padding-inline: 10vw;
    transition: 0.3s;
    z-index: 100;
}

.nav-logo {
    position: relative;
}

.nav-name {
    font-size: 30px;
    font-weight: 600;
    color: black;
}

.nav-menu,
.nav_menu_list {
    font-size: 25px;
    display: flex;
    column-gap: -30px;
}

.nav-menu .nav_list {
    list-style: none;
    position: relative;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding-inline: 15px;
    margin-inline: 20px;
}

.nav-menu-btn {
    display: none;
}

.nav-menu-btn i {
    font-size: 28px;
    cursor: pointer;
    color: #000;
}

.active-link {
    position: relative;
    transition: 0.3s;
}

.active-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 2px;
}

/*---mode---*/

.mode {
    display: flex;
    align-items: center;
    margin-right: -2px;
}

.moon-sun {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    cursor: pointer;
    background: #ccc;
}

.moon-sun :is(#moon, #sun) {
    position: absolute;
    transition: .2s ease-in-out;
}

#sun {
    opacity: 0;
}

body.dark #sun {
    opacity: 1;
}


body.dark #moon {
    opacity: 0;
}

/*---wrappers---*/

.wrapper {
    padding-inline: 10vw;
}

/*---featured box---*/

.featured-box {
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 700px;
}

/*---featured-text---*/

.featured-text {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    width: 50%;
    padding-left: 20px;
    margin-top: 10%;
}

.featured-text .hello {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: -10px;
    color: #444444;
}

.featured-name {
    font-size: 50px;
    font-weight: 600;
    margin-block: 20px;
    margin-bottom: 10px;
}

.typedText {
    font-family: sans-serif;
    color: #8749f2;
    font-size: 8px;
    font-weight: 600;
    text-transform: capitalize;
}

.text-info {
    font-size: 16px;
    margin-bottom: 30px;
    color: #444444;
}

.text-btn {
    display: flex;
    border-radius: 8px;
    cursor: pointer;
    gap: 20px;
}

.btn,
.hire-btn {
    text-decoration: none;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    background: #444444;
    font-weight: 500;
    transition: all 0.5s ease;
    color: #f4f4f4;
    border: none;
}

.btn i {
    margin-right: 10px;
}

i {
    font-size: 16px;
}

/*---socical icons---*/

.socical_icons {
    display: flex;
    margin-top: 30px;
    margin-left: 5px;
    gap: 32px;
}

.socical_icons .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: #242526;
    border-radius: 50%;
    box-shadow: 0px 1px 5px 3px #444444;
    cursor: pointer;
}

.icon_circle{
    position: absolute;
    transform: transform(-50px, -50px);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    animation: iconSlide 4s infinite alternate;
}



/*---featured-image---*/

.featured-image{
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 80vh;
    width: 100%;
}

.image{
    margin-top: 10%;
    width: 500px;
    height: 700px;
    border-radius: 40% 40% 40% 40%;
    overflow: hidden;
    animation: imgFloat 5s ease-in-out infinite;
}

.image img{
    width: 500px;
    height: 700px;
    object-fit: cover;
}

/*---main---*/

.section{
    padding-block: 5em;
}

.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
}

.col{
    display: flex;
    width: 50%;
}

.top-header{
    text-align: center;
    margin-bottom: 5em;
}

.top-header h1{
    font-weight: 600;
    color: #444444;
    margin-bottom: 10px;
}


/*---about-info---*/

.about-info{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 45px 45px;
    padding-inline: 35px;
    border: 2px solid #fff;
    background: transparent;
    box-shadow: 1px 8px 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.about-me * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
}

.about-info figcaption{
    width: 100%;
    padding: 25px;
    position: relative;
}

.about-me .profile{
    border-radius: 50%;
    position: absolute;
    bottom: 100%;
    left: 20px;
    z-index: 1;
    background-color: #fff;
    max-width: 90px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.about-me h2{
    color: #444444;
}

.about-me p{
    margin-top: 10px;
    color: #444444;
}

.about-info .about-me-button{
    text-decoration: none;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background: #444444;
    color: #fff;
    margin-top: 20px;
    font-weight: 500;
    transition: all 0.5s ease;
}

/*---skill-box---*/

.skills{
    position: relative;
    max-width: 600px;
    width: 100%;
    background: transparent;
    box-shadow: 1px 8px 10px 2px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 20px;
}

.skills .skill-box{
    width: 100%;
    margin: 25px 0;
}

.skill-box .title{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #444444;
}

.skill-box .skill-bar{
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0, 0, 0, 0.1);
}

.skill-box .skill-per{
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: #444444;
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
}

.skill-per.html{
    animation-delay: 0.1s;
    width: 80%;
}
.skill-per.css{
    animation-delay: 0.1s;
    width: 80%;
}
.skill-per.javascript{
    animation-delay: 0.1s;
    width: 50%;
}
.skill-per.php{
    animation-delay: 0.1s;
    width: 50%;
}

@keyframes progress{
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

.skill-per .tooltip{
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    color: #fff;
    padding: 2px 6px;
    border-radius: 20px;
    background: #444444;
    z-index: 1;
}

/*---project-box---*/

.project-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.project-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 250px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    box-shadow: 1px 8px 10px 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
}

.project-box > i {
    font-size: 50px;
    color: #444444;
    margin-bottom: 25px;
}

.project-box label{
    font-size: 15px;
    color: #444444;
}

.project-box::after , 
.contact-info::after{
    content: "";
    position: absolute;
    bottom: -100%;
    background: #444444;
    width: 100%;
    height: 100%;
    transition: 0.4s;
    z-index: 0.1;
}

.project-box:hover.project-box::after,
.contact-info:hover.contact-info::after{
    bottom: 0;
}

.project-box:hover.project-box i,
.project-box:hover.project-box h3,
.project-box:hover.project-box label{
    color: #fff;
    z-index: 2;
}

.top-header span{
    color: #444444;
}

/*---contact-box---*/

.contact-info{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding: 20px 40px;
    width: 100%;
    height: 380px;
    border: 2px solid #fff;
    border-radius: 20px;
    box-shadow: 1px 8px 10px 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
}

.contact-info > h2{
    color: #444444;
    margin-bottom: 20px;
}

.contact-info > p{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #444444;
    margin-block: 5px;
}

.contact-info::after{
    color: #444444;
}

.contact-info:hover.contact-info h2,
.contact-info:hover.contact-info p,
.contact-info:hover.contact-info i{
    color: #fff;
    z-index: 2;
}

/*---contact-form---*/

.form-control{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.form-inputs{
    display: flex;
    gap: 10px;
    width: 100%;
}

.input-field{
    width: 50%;
    height: 55px;
    background: transparent;
    border: 2px solid #aaa;
    padding-inline: 20px;
    border-radius: 10px;
    outline: none;
}

.input-subject{
    width: 100%;
    height: 55px;
    background: transparent;
    border: 2px solid #aaa;
    border-radius: 10px;
    padding-inline: 20px;
    margin-bottom: 10px;
    outline: none;
}

textarea{
    width: 100%;
    height: 250px;
    background: transparent;
    border: 2px solid #aaa;
    padding: 15px 20px;
    color: #444444;
    border-radius: 10px;
    outline: none;
    resize: none;
}

.form-button > .button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
    background: none;
    background: #444444;
    padding: 10px 20px;
    border-radius: 30px;
    color: #fff;
}

.form-button i{
    font-size: 18px;
    rotate: -45deg;
    margin-left: 10px;
}

/*---footer box---*/

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    background:transparent;
    padding-block: 40px 60px;
}

.middle-footer .footer-menu{
    display: flex;
}

.footer-menu-list{
    list-style: none;
}

.footer-menu-list a{
    text-decoration: none;
    color: #444444;
    font-weight: 500;
    margin-inline: 20px;
}

.footer-menu-list a:hover{
    color: #444444;
}

.social-icons{
    display: flex;
    gap: 30px;
    color: #242526;
}

.bottom-footer{
    font-size: 14px;
    margin-top: 10px;
    color: #242526;
}